* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* wrapper */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* icon */
.icon-left i,
.icon-right i {
    font-size: 60px;
    margin: 0 10px;
    cursor: pointer;
} 

/* image + slider*/

.image-box {
    position: relative;
}

/* image */
.image-box img:nth-child(2),
.image-box img:nth-child(3),
.image-box img:nth-child(4) {
    display: none;
}

.image-box .slider-nav {
    position: absolute;
    width: 300px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, .5);
    border-radius: 40px;
}

/* circle box */

.slider-nav .circle-box {
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

.slider-nav .circle-box .circle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #fff;
}
