* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* wrapper */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* container-slider */

.container-slider {
    position: relative;
}

/* icon */
.icon-up {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 60px;
    color: #444;
    margin: 0 10px;
    cursor: pointer;
}

.icon-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    font-size: 60px;
    margin: 0 10px;
    cursor: pointer;
}


.icon-left a,
.icon-right a,
.icon-up a,
.icon-down a {
    color: #444;
}

.icon-left i,
.icon-right i {
    font-size: 60px;
    margin: 0 20px;
    cursor: pointer;
} 

/* image + slider*/

.image-box {
    position: relative;
    display: none;
}

/* image */
.image {
    max-width: 800px;
    display: none;
}

.wrapper:last-child .image-box img {
    max-width: 800px;
    max-height: 500px;
}

/* image active */
.active {
    display: block;
}


.image-box .slider-nav {
    position: absolute;
    width: 300px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, .5);
    border-radius: 40px;
}

/* circle box */

.slider-nav .nav-box {
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

.circle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #fff;
}

.active_circle {
    background-color: orange;
}
